---
import Layout from "../layouts/Layout.astro";
import AudioPlayer from "../components/AudioPlayer.astro";
import Count from "../components/count/Count";
import Button from "../components/Button.astro";
import WeddingEvent from "../components/WeddingEvent .astro";
const audioSrc = "/music/amtrak.mp3";
const targetDate = new Date("December 25, 2024 00:00:00"); // Fecha objetivo
---

<Layout title="Welcome to Astro.">
  <main>
    <AudioPlayer src={audioSrc} />

    <div class="initial-text">
      <h2 class="title">Estás Invitado!</h2>
      <p class="subtitle">
        Queremos que seas parte de este momento tan especial.
      </p>
    </div>

    <Count client:load targetDate={targetDate} />

    <div class="btn">
      <Button
        url="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Boda&dates=20241225%2F20241226&details=Celebraci%C3%B3n%20de%20nuestra%20boda!&sf=true"
        text="AGENDAR BODA"
      />
    </div>

    <WeddingEvent />
    <WeddingEvent />
    <br>
    <h1 class="initial-text">DRESSCODE</h1>
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
    box-sizing: border-box;
  }

  .initial-text {
    text-align: center;
    margin: 0px 20%;
  }
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .subtitle {
    font-size: 1.2rem;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
</style>
