---
// Button.astro
const { url, text } = Astro.props;
---

<button
    class="button"
>
    <a class="button-link" text-decoration="none" href={url}>{text}</a>
</button>

<style>
    .button {
        background-color: #005782; /* Cambia esto al color que desees */
        color: white;
        text-decoration: none !important;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .button:hover {
        background-color: #00456b; /* Cambia esto al color de hover que desees */
    }
    .button-link{
        color: white;   
    }
    .button-link[data-astro-cid-vnzlvqnm] {
    all: unset;
    color: white;
    text-decoration: none !important;
    cursor: pointer;
}

</style>
