---
import Button from "./Button.astro";
---

<div>
    <h2 class="title">Confirmar Asistencia</h2>
    <p class="subtitle">Por favor confirme su asistencia.</p>
    <Button url="https://forms.gle/3vSMHW2ig4bBLhPV9" text="CONFIRMAR ASISTENCIA">
        
    </Button>
</div>