<div class="weddingEvent">
    <img src="/anillos.png" alt="">
    <h2>CEREMONIA</h2>
    <p>Iglesia Santisima Virgen</p>
    <p>Te esperamos el</p>
    <div class="date-hour">
        <span class="date">27 SEP</span>
        <span class="separator">|</span>
        <span class="hour">19:00 PM</span>
    </div>
</div>

<style>
    .weddingEvent{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    .weddingEvent img{
        margin-top: 30px;
        width: 80px;
        
    }
</style>